:root{
    --gradient: linear-gradient(to right, #3F5EFB,#FC466B);
}

.form{
    width: 40rem;
    background: linear-gradient(to bottom, hsl(0, 0%, 93%), hsl(0, 0%, 83%));
    aspect-ratio: 1/1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.3rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3), inset 0 -0.5rem 0.5rem -0.5rem #FC466B;
}

.formInputsWrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form__wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__search{
    background: linear-gradient(to bottom right, #3F5EFB, #FC466B);
    color: #eee;
    font-family: inherit;
    font-size: 90%;
    border: none;
    width: min-content;
    aspect-ratio: 3/1;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.form__label{
    font-size: 160%;

}

.form__input{
    border: none;
    background: none;
    outline: none;
    border-bottom: 0.3rem solid #3F5EFB ;
    font-size: 100%;
    border-radius: ;
}