.article{
    width: 40rem;
    background: linear-gradient(to bottom, hsl(0, 0%, 93%), hsl(0, 0%, 83%));
    aspect-ratio: 1/1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.3rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3), inset 0 -0.5rem 0.5rem -0.5rem #FC466B;
}

.alert{
    font-size: 70%;
    color: red;
}

.article ul{
    padding-left: 2rem;
}
